// Mixin

@mixin head-logo($color, $size) {
    color:$color;
    font-size: $size;
}

// Global
main, nav{
    width: 85%;
    margin: auto;
}

// Articles left and right
.block{
    margin: 1em 0;
}
.img-card-title:nth-of-type(odd){
    margin-right: 1.2em;
}
.img-card-title {
    margin-bottom: 1.2em;
}

main{
    div{
        div{
            div{
                div{
                    div{
                        div{
                            .perso-friends{
                                a{
                                    text-decoration: none;
                                    color: black;
                                    &:hover{
                                        color: green;
                                    }

                                }
                    
                            }

                            .perso-enemies{
                                a{
                                    text-decoration: none;
                                    color: black;
                                    &:hover{
                                        color: red;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.image-profile{
    position: relative;
    
}
.photo_dave{
@include head-logo(pink,60px );
position:absolute;
bottom:-13%;
left: 43%;
}
.logo_about{
    margin-right: 3rem;
}

// Artciles center
.main{
    margin-top: 1em;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.input-group{
    padding: 1.2rem;
    border-bottom: 1px solid lightgray;
}

